
     @font-face {
    font-family: 'BTTF'; /*a name to be used later*/
    src: url('BTTF.ttf'); /*URL to font*/
}
       
       
          img {
               width: 300px;
               border-radius: 00%;
          }
          body { 
               text-align: center;
               background-color: #9DE6FF;
               font-family: 'BTTF';
          }
