/*style button*/

@font-face {
    font-family: 'BTTF'; /*a name to be used later*/
    src: url('sethtrei.github.io/chysci.github.io/Resources/BTTF.ttf'); /*URL to font*/
}
    
.selector {
    font-size: 25px;
    text-align: left; 
    position: fixed;
    width: 100%;
    height: 25px;
    top: 0;
    left: 0;
    padding: 5px 10px; /* some styling, please note overall height of the object will be 35px due to 5px padding on top/bottom. */
    background: #9DE6FF; /* some styling */
    border-bottom: 1px solid #333; /* some styling */
}
.round {
     border-radius: 50%;
     width : 33px;
     height: 33px;
     margin-top:-5px;
}

button {
    border-radius: 25%;
    width:200px;
    height:50px;
    background:Red;
    font-family: 'BTTF';
    margin-left:36%;
    margin-right:36%;
    margin-top:345px;
}

body{
    background:#FFFFD7;
    font-family:'BTTF';
    text-align:center;
}

.display4DaButton{
    font-family:'BTTF';
    margin-top:30px;
}